.board-col {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 0 #fff inset;
    margin: 0 10px 10px 0;
    min-height: 20px;
    padding: 6px 8px 8px;
    position: relative;
    width: 200px;

}

.board-row {
    margin: 0 0 10px;

}

.board-col-row {
    margin: 0 0 10px;
}

.board-col-row > a {
    text-decoration: none;
}

.board-col-row > a:hover {
    text-decoration: none;
    color : #000;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 0 #fff inset;
    margin: 0 0 10px;
    min-height: 20px;
    padding: 6px 8px 8px;
    position: relative;
    width: 200px;
}

.card > a {
    text-decoration: none;
}

.card-title {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px;
}

.card-body {
    font-size: 12px;
    margin: 0 0 5px;
}




